.header-wapper{
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    padding: 10px 0px;
    background-color: red;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
     0 -6px 16px -6px rgba(0,0,0,.025);
}

.chat-body{
    padding: 10px 0px;
    padding-top: 100px;
}


.chat-body{
    background-image: url("../images/chatBg.png");

    /* View Size * 100  */
    min-height: 100vh;
}

.chat__write--container{
    position: fixed;

    bottom: 0px;
    /* position fixed의 가운데 정렬 */
    margin: 0 auto;
    left:0;
    right: 0; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.chat__icon-left{
    position: absolute;
    left:10px;
}
.chat__icon-right{
    position: absolute;
    right: 10px;
}
@keyframes float{
    0%{
        transform: translateY(-100px);;
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
        0 8px 16px -8px rgba(0,0,0,.3),
        0 -6px 16px -6px rgba(0,0,0,.025);
    }
    50%{
        transform: translateY(-90px);
        box-shadow: 0 13px 27px -50px rgba(50,50,93,.25),
        0 8px 16px -8px rgba(0,0,0,.3),
        0 -6px 16px -6px rgba(0,0,0,.025);
    }
    100%{
        transform: translateY(-100px);;
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
        0 8px 16px -8px rgba(0,0,0,.3),
        0 -6px 16px -6px rgba(0,0,0,.025);
    }
}
.chat__write{
    margin:0 auto;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 10px 20px;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;

    transition: width 0.5s ease-in-out,
        border-radius 0.5s ease-in-out,
            transform 0.5s ease-in-out;
}
.chat__write:focus{
    outline: none;
    width: 80%;

    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),
     0 -6px 16px -6px rgba(0,0,0,.025);
    animation: float 1s ease-in-out infinite forwards;
    animation-delay: 0.5s;
}
.chat__icon{
    font-size: 20px;
    transition: opacity 0.5s ease-in-out;
}
.chat__write:focus~ .chat__icon{
    opacity: 0;
}

.chat__write i {
    font-size : 22px
}

.chat__write-column:nth-child(2){
    width: 80%;
}

.chat-screen .chat__messages{
    border-top: 1px solid gray;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding:  0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
     0 -6px 16px -6px rgba(0,0,0,.025);

     text-transform: uppercase;
     font-weight: 700;
}


.message{
    display:flex;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
}

.message .message__content{
    width: 100%;
}

.incoming-message{
    align-self: flex-start;
}
.sent-message{
    align-self: flex-end;
}
@keyframes spin{
    from{
        transform: none;
    }
    to{
        transform: rotateY(1turn);
    }
}
.incoming-message img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 15px;
    animation: spin 1s linear infinite;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
     0 -6px 16px -6px rgba(0,0,0,.025);
}

.message .message__bubble{
    background-color: white;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3),
     0 -6px 16px -6px rgba(0,0,0,.025);
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    
    /* span 글자 내려가는 것을 박스로 인식 */
    display: block;
}

.incoming-message .message__author {
    margin-top: 10px;
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px;
    color: white;
    background-image: linear-gradient(to right, #000000, #808080);
}
.sent-message .message__bubble{
    border-bottom-right-radius: 0px;
    color: white;
    background-image: linear-gradient(to left, #000000, #808080);
}

@keyframes incomingAnim{
    from{
        opacity: 0;
        transform: translateX(-300px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.incoming-message{
    animation: incomingAnim 1s ease-in-out forwards;
}

@keyframes sentAnimation{
    from{
        opacity: 0;
        transform: translateX(300px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.sent-message{
    /* forwards는 애니메이션 끝나고 상태 유지 */
    animation: sentAnimation 1s ease-in-out forwards;
}