/* header.css의 margin-bottom과 중복됨. */
.find .find__header{
    margin-top: 30px;
}

.find .find__header-list{
    display: flex;
    justify-content: space-around;
}

.find .header-btn__title{
    display: block;
}

.find .header-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find .header-btn__title{
    display: block;
}

.find .header-btn__title{
    margin-top: 20px;
    font-size: 13px;
}
.find .header-btn__icon{
    font-size: 12px;
}

.find .find__recommended{
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid rgb(182, 182, 182);
}

.find .find__title{
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
}