.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar{
    width: 60px;
    border-radius: 35%;
    height: 60px;
}

/* 같은 위치 클래스면 .을 붙이는 듯? */
.friend__avatar.g-avatar{
    width: 80px;
}

.friend__avatar.m-avatar{
    width: 70px;
}

.friend .friend__column{
    display: flex;
    align-items: center;
}

/* 중복도 따로 되네.. */
.friend .friend__avatar{
    margin-right: 15px;
}

.friend__content .friend__name{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp{
    opacity: 0.6;
}

.friend__content .friend__bottom-text{
    font-size:14px;
}

.friend__content .friend__status,
.friend .chat__timestamp{
    font-size:12px;
}

.friend .friend__now-listening{
    border: 2px solid #32ac5d;
    padding: 5px 10px;
    border-radius: 15px;
    font-size:13px;
}

.friend__now-listening span {
    opacity: 0.7;
    padding: 10px;
}

.friend__now-listening i {
    font-size: 12px;
}

.friend__add-btn{
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 129, 129);
    border-radius: 5px;
}