.nav {
/* position fix 사용 시 width 100% 사용 ! */
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 20px 50px;

    background-color: hsl(0, 0%, 89%);    
    border-top: 1px solid #464646;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.nav .nav__list-link{
    /* badge에 absolute를 주기 위해 부모 relative 설정 */
    position: relative;
}

.nav .nav__badge{
    position: absolute;
    top:-7px;
    right: -7px;
    font-size: 10px ;
    color:white;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

@keyframes showNavBar{
    from{
        transform:  translateY(100px);
    }
    to{
        transform: none;
    }
}

.nav{
    transform:  translateY(100px);
    animation: showNavBar 0.5s ease-out forwards;
    animation-delay: 1s;
}