@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

:root{
  --myVar : 20px;
}

* {
  /* padding을 추가해도 box의 크기를 늘이지 않도록. */
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  /* 부모요소와 색깔을 똑같이 함 */
  color: inherit;
  text-decoration: none;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}
main{
  animation: fadeIn 0.5s ease-in-out;
}